* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    justify-content: center;
    display: grid;
    grid-template-columns: 338px;
    grid-template-rows: 120px 410px;
    gap: 10px;
    place-self: center;
    padding: 20px;
}

#result {
    border: 2px solid;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    background: rgba(0, 9, 30, 0.897);
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 1), 0px 0px 0px 7px rgba(153, 153, 153, 1);
}

.result-calc, .result-text {
    text-align: right;
    margin: 0 5px;
    /* border: 1px solid; */
}

.result-calc {
    font-size: 30px;
    height: 30px;
}

.result-text {
    font-size: 90px;
    line-height: 80px;
}

.calc {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80px auto;
    border: 2px solid;
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 1), 0px 0px 0px 7px rgba(153, 153, 153, 1);
}

.calc-btn {
    display: grid;
    grid-template-columns: 253px 80px;
    grid-template-rows: auto;
}

button {
    margin: 5px;
    height: 70px;
    width: 70px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    border: 1px solid;
    color: white;
    background: black;
    border-bottom: 5px solid gray;
    cursor: pointer;
}

button:hover {
    border-bottom: 1px;
    transform: translateX(5px);
}

.clear, .back {
    width: 155px;
}

.clear {
    background: black;
    color: white;
}

.back {
    background: red;
    color: white;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 30% 100%, 0 50%);
}

.numbers {
    /* flex-direction: row; */
    /* border: 1px solid; */
}

.opertaor {
    /* flex-direction: column; */
    /* border: 1px solid; */
    /* place-self: center; */
}